/*CSS Reset*/
* {
	/*
		zeroes all margins and padding of our elements.  Because by default, elements are being added margins and padding by browser.
		box-sizing:  border-box; - to accurately measure our elements, that padding and border are not added on the top of the element's width
	*/
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

/*id selector*/
#box1 {
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid black;
	background-color: orange;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}

#box2 {
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid black;
	background-color: yellow;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}

.sample	{
	height: 150x;
	width: 150x;
	border: 2px solid black;
	background-color: green;
}