/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	padding: 0px 10px 5px 5px;;
	/*rem - root element's default font size (16px) .8 rem = 80% of 16px = 12.8px
		You can also specify which side you will add a padding: 
		padding-left: 0.8rem;
		padding-right: 0.8rem;
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
	*/
	margin-bottom: 2rem;
	/*border-bottom: 1px solid gray;*/
	background-color: #E0640F;
	color: white;
}

footer {
	padding: 0.7rem; 
}

/*id selectors*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	/*% was used to make page more responsive.  So our pading in left and right and now dependent on the width of the parent element*/
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: #fff;
}
#about {
	font-weight: normal;
}

#logo {
	height: 3rem;
	width: 3rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#pre-footer {
	padding: 1rem;
	background-color: #E15C00;
	color: white;
}

#about-us {
	display: flex;
}

#leftcolumn {
	margin-left: 20px;
}

/*  
#wrapper {
    width: 100%;
    margin: 0 auto;
}
#leftcolumn, #rightcolumn {
    float: left;
    color: white;
}
#leftcolumn {
    width: 90%;
    background-color: #111;
}
#rightcolumn {
    width: 200px;
    background-color: #777;*/
}
/*combinators*/
nav > ul {
	list-style-type: none;
}

/*multiple selector - allows us to use multiple selectors for one css rule set*/

nav .nav, nav .nav-logo {
	font-weight: bold;
	margin: 0.5rem;
	display: inline;
}

#intro button {
	color: white;
	/*font-weight allows to determine the thickness of text*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#succeed-info img {
	margin-bottom: 1rem;
	width: 100%;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 350px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	background-color: #F2EDE4;
	/*border: 1px solid black;*/
}

#succeed-info p {
	padding: 10px;
}

#succeed-info button {
	color: #ffffff;
	font-weight: bold;
	background-color: #E15C00;
	padding: .3rem;
	font-size: 1rem;
	width: 100%;
	border-radius: 5px;
}

/*center button*/
.container{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.buynow {
	top: 30px;
	margin: 0;
	position: absolute;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#pre-footer > div {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	padding-top: 1%;
}

#pre-footer > button {
	color: #E15C00;
	font-weight: bold;
	background-color: #ffffff;
	font-size: 1rem;
	padding: .3rem;
	border-color: transparent;
}

#pre-footer > div > * {
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
